@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .8; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .8; }
}

/* Safari, Chrome and Opera > .82..8 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .8; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .8; }
}

/* Opera < .82..8 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .8; }
}    

.bt_contact-float {
    position: fixed;
    z-index: 10000;
    border: none;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
    text-decoration: none
}


.bt_contact-float:active, .bt_contact-float:focus, .bt_contact-float::selection  {
    outline: none !important;
    box-shadow: none !important;
}

.bt_contact-float.right {
    right:25px;
    bottom: 25px;
}

.bt_contact-float.left {
    left:25px;
    bottom: 25px;
}

.bt_contact-float.style_one {
    background: #25D366;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    line-height: 60px;
    transition-duration: .3s;   
    background-image: url(../../img/whatsapp_icon_white.png);
    background-size: 40px 40px;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 2px 2px #0000002b;
    opacity: .8;
}

.bt_contact-float.style_one:hover {
    background: #075E54;
    cursor: pointer;
    background-image: url(../../img/whatsapp_icon_white.png);
    background-size: 40px 40px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
}

.bt_contact-float.style_two {
    background: #25D366;
    width: 120px;
    height: 40px;
    border-radius: 2px;
    background-image: url(../../img/whatsapp_icon_letter.png);
    background-size: 80px 30px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: .8;
    transition-duration: .3s;
}

.bt_contact-float.style_two:hover {
    background: #075E54;
    cursor: pointer;
    background-image: url(../../img/whatsapp_icon_letter.png);
    background-size: 80px 30px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
}

.bt_contact-float.style_three {
    background: url(../../img/gmail-icon.png);
    background-size: 60px 50px;
    background-position: center;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    line-height: 60px;
    transition-duration: .3s;
    box-shadow: 0 0 2px 2px #0000002b;
    opacity: .8;  
}

.bt_contact-float.style_three:hover {
    background: url(../../img/gmail-open-icon.png);
    background-size: 80px 80px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: 1;
}

.bt_contact-float.style_four {
    background: url(../../img/email-whats-icon.png);
    background-size: 70px 70px;
    background-position: center;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    line-height: 60px;
    transition-duration: .3s;
    box-shadow: 0 0 2px 2px #0000002b;
    opacity: .8;  
}

.bt_contact-float.style_four:hover {
    background: url(../../img/email-whats-open-icon.png);
    background-size: 70px 70px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: 1;
}

.bt_contact-float.style_five {
    background: url(../../img/phone.png);
    background-size: 70px 70px;
    background-position: center;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    line-height: 60px;
    transition-duration: .3s;
    box-shadow: 0 0 2px 2px #0000002b;
    opacity: .8;  
}

.bt_contact-float.style_five:hover {
    background: url(../../img/phone-hover.png);
    background-size: 70px 70px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: 1;
}

@media (min-width: 900px) {
    #contact-float-1{
        /*display: none;*/
        visibility: hidden; 
    }
    #contact-float-2{
        /*display: block;*/
        visibility: visible; 
    }  
    .contact-float-s1{
        color: #7a7a7a;
        position: fixed;
        z-index: 666;
        /*width: 200px;*/
        bottom: 105px;
        padding: 0 10px 0 10px;
    }
    .contact-float-s2{
        color: #7a7a7a;
        position: fixed;
        z-index: 666;
        /*width: 200px;*/
        bottom: 105px;
        padding: 0 10px 0 10px;
    }      
    ul.contact-float-s1 li, ul.contact-float-s2 li{
        background: #25D366;
        margin-top: -1px;
    }     
} 
@media (max-width: 900px) {
    #contact-float-1{
        /*display: block;*/
        visibility: visible; 
    }
    #contact-float-2{
        /*display: blocnonek;*/
        visibility: hidden; 
    } 
    button.style_one {
        /*width: 140px;
        height: 42px;
        background-size: 100px;*/
        width: 60px !important;
        height: 60px !important;
        background-size: 40px !important;
    }
    button.style_two {
        /*width: 60px !important;
        height: 60px !important;
        background-size: 40px !important;*/

        width: 160px !important;
        height: 40px !important;
        background-size: 100px !important;
    }    
    button.style_three, button.style_four, button.style_five {
        /*width: 140px;
        height: 42px;
        background-size: 100px;*/
        width: 60px !important;
        height: 60px !important;
        /* background-size: 40px !important; */
    }

    .contact-float-s1{
        color: #7a7a7a;
        position: fixed;
        z-index: 666;
        /*width: 200px;*/
        bottom: 105px;
        padding: 0 10px 0 10px;
    }
    .contact-float-s2{
        color: #7a7a7a;
        position: fixed;
        z-index: 666;
        /*width: 200px;*/
        bottom: 105px;
        padding: 0 10px 0 10px;
    }  
    ul.contact-float-s1 li, ul.contact-float-s2 li{
        
        margin-top: -1px !important;
    }
    .bt_whatsapp.left {
        left:10px !important;
        bottom: 50px;
    }
    .contact-float-s1.left, .contact-float-s2.left{
        left: 0px !important; 
        float: left !important; 
    }   
}